/certs/**
/**
/docker_mysql_prod/data/**
/docker_mysql_test/data/**

!/wordpresstest.com
!.gitignore
!backupDB-wordpresstest.sh
!docker-compose.yml
!docker-start.sh
!docker-stop.sh
!README.md
!/docker_mysql_test
!/docker_mysql_prod